* {
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.header {
    height: 70px;
    background-color: rgb(114, 1, 57);
    margin: 10px;
}

.column-block {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

.column {
    height: 480px;
    flex-grow: 1;
    margin: 10px;
    background-color: rgb(180, 80, 130);
}

.footer {
    height: 50px;
    background-color: rgb(51, 1, 25);
    margin: 10px;
}

@media only screen and (max-width: 768px){
    .column-block {
        height: 1560px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .column {
        width: 100%;
        height: 500px;
        margin: 10px;
        background-color: rgb(180, 80, 130);
    }
}