.button {
    box-sizing: border-box;
    width: 20%;
    background-color: rgb(150, 150, 150);
    height: 80px;
}

.button:hover {
    background-color: rgb(50, 50, 50);
}

.caption {
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    float: left;
    padding: 15px;
}

img {
    height: 50px;
    width: auto;
    float: left;
}
