.small {
    font-size: 80%;
    line-height: 30px;
    font-style: italic;
}

.center {
    text-align: center;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.crossed {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.shadow {
    text-shadow: 3px 2px grey;
}

.gradient {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.letterspacing {
    letter-spacing: 2px;
}

.uppercase {
    text-transform: uppercase;
}

.red {
    color: red;
}

.highlighted {
    background-color: gold;
}

.contents {
    box-sizing: content-box;
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
}

.line {
    border: none;
    height: 2px;
    background: linear-gradient(180deg, rgb(100, 100, 100), rgb(236, 236, 236))
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.paragraph {
    margin-top: 15px;
    margin-bottom: 15px;
}
