* {
    box-sizing: border-box;
}

.text {
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
    line-height: 20px;
}

.vertical {
    padding-left: 50%;
    word-wrap: break-word;
    width: 1px;
    text-indent: 0;
    padding-top: 40px;
    white-space: pre-wrap;
}

.center {
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.header {
    height: 70px;
    background-color: rgb(114, 1, 57);
    margin-bottom: 10px;
    position: relative;
}

.menu {
    height: 50px;
    background-color: rgb(51, 1, 25);
    margin-bottom: 10px;
    position: relative;
}

.column-block {
    margin-bottom: 10px;
}

.column-block:after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
    float: left;
    width: 20%;
}

.column2 {
    float: left;
    width: 70%;
}

.column3 {
    float: left;
    width: 10%;
}

.aside1 {
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.aside2 {
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.aside3 {
    height: 250px;
}

.main {
    height: 350px;
    margin-right: 10px;
    padding: 40px;
    padding-top: 30px;
    text-indent: 0px !important;
}

.content {
    height: 70px;
    background-color: rgb(185, 129, 157);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.footer {
    height: 50px;
    background-color: rgb(51, 1, 25);
    position: relative;
}

.common-color {
    background-color: rgb(180, 80, 130);
}