* {
    box-sizing: border-box;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.paragraph {
    margin: 10px 0px;
}

.flex-container-outside {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.flex-container-inside {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: center;
}

.flex-container-inside2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.flex-container-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 20px 20px;
}

.contents-centered {
    justify-content: center;
}

.contents-top {
    justify-content: flex-start;
}

.flex-item {
    position: relative;
    overflow-y: hidden;
}

.item-margin {
    margin: 10px 0px;
}

.item-contents-stretched {
    flex-grow: 1;
}

.button {
    padding: 10px 35px;
    margin-top: 30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    width: 40%;
    font-weight: bold;
}

.button2 {
    padding: 10px 35px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 25px;
    background-color: white;
    width: 50%;
}

.menu {
    padding: 10px 30px;
    z-index: 1;
    position: absolute;
}

.stimulus {
    padding: 10% 30%;
    z-index: 1;
    position: absolute;
    text-shadow: 1px 1px white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
  
li a:hover {
    color: orange;
}

.icon {
    float: left;
    height: 100%;
    width: 15%;
}

.icon2 {
    padding: 5px 20px 5px 1px;
}

.icon3 {
    color: lightgrey;
    padding: 0px 20px;
}

.progress-bar {
    width: 100%;
    background-color: white;
    margin: 5px 0px 10px;
    border-radius: 3px;
}

.progress-bar-fill {
    display: block;
    height: 2px;
    background-color: black;
    border-radius: 3px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid orange;
    background-color: tomato;
    color: white;
}

textarea {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid darkorange;
    background-color: tomato;
    color: white;
}

.form {
    width: 100%;
    height: 50%;
}

::placeholder {
    color: white;
    opacity: 1;
}

.line2 {
    width: 100%;
    height: 2px;
    background-color: darkorange;
    margin: 100px 0px 10px;
}

.image1 {
    background-image: url("../img/5.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.image2 {
    background-image: url("../img/1.jpg");
    height: 180%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.image3 {
    background-image: url("../img/4.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: top;
}

.image4 {
    background-image: url("../img/3.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: top;
}

.image5 {
    background-image: url("../img/6.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -80px;
    opacity: 0.2;
}

.image6 {
    background-image: url("../img/2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.text-small {
    font-size: 1vw;
    line-height: 2;
}

.text-small-black {
    font-size: 1vw;
    color: black;
    font-weight: bold;
}

.text-small-white {
    font-size: 1vw;
    color: white;
    font-weight: bold;
    text-align: right;
}

.text-middle {
    font-size: 1.5vw;
    margin-bottom: 20px;
}

.text-large {
    font-size: 2.5vw;
}

.centered {
    text-align: center;
}

.capital {
    text-transform: uppercase;
}

.black {
    background-color: black;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.dark-orange {
    background-color: darkorange;
    color: white;
}

.tomato {
    background-color: tomato;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.grey {
    background-color: lightgrey;
    color: black;
}

.top {
    width: 50vw;
    height: 60vw;
}

.double-small {
    width: 50vw;
    height: 25vw;
}

.quadruple-small {
    width: 100vw;
    height: 25vw;
}

.middle1 {
    width: 50vw;
    height: 30vw;
}

.middle2 {
    width: 50vw;
    height: 35vw;
}

.middle3 {
    width: 50vw;
    height: 45vw;
}

.vertical {
    width: 25vw;
    height: 45vw;
}

.small {
    width: 25vw;
    height: 25vw;
}

.big {
    width: 100vw;
    height: 40vw;
    position: relative;
}

@media only screen and (max-width: 768px){
    
    .text-small {
        font-size: 2vw;
        line-height: 2;
    }
    
    .text-small-black {
        font-size: 2vw;
        color: black;
        font-weight: bold;
    }

    .text-small-white {
        font-size: 2vw;
        color: white;
        font-weight: bold;
        text-align: right;
    }

    .text-middle {
        font-size: 3vw;
        margin-bottom: 20px;
    }
    
    .text-large {
        font-size: 3vw;
    }

    .top {
        width: 100vw;
        height: 120vw;
    }

    .double-small {
        width: 100vw;
        height: 50vw;
    }

    .quadruple-small {
        width: 100vw;
        height: 50vw;
    }

    .middle1 {
        width: 100vw;
        height: 60vw;
    }

    .middle2 {
        width: 100vw;
        height: 70vw;
    }

    .middle3 {
        width: 100vw;
        height: 90vw;
    }

    .vertical {
        width: 50vw;
        height: 90vw;
    }

    .small {
        width: 50vw;
        height: 50vw;
    }

    .big {
        width: 100vw;
        height: 40vw;
    }
}

@media only screen and (max-width: 600px){
    
    .text-small {
        font-size: 2vw;
        line-height: 2;
    }

    .text-small-black {
        font-size: 2vw;
        color: black;
        font-weight: bold;
    }

    .text-small-white {
        font-size: 2vw;
        color: white;
        font-weight: bold;
        text-align: right;
    }
    
    .text-middle {
        font-size: 3vw;
        margin-bottom: 20px;
    }
    
    .text-large {
        font-size: 4vw;
    }

    .top {
        width: 100vw;
        height: 120vw;
    }

    .double-small {
        width: 100vw;
        height: 50vw;
    }

    .quadruple-small {
        width: 100vw;
        height: 50vw;
    }

    .middle1 {
        width: 100vw;
        height: 60vw;
    }

    .middle2 {
        width: 100vw;
        height: 70vw;
    }

    .middle3 {
        width: 100vw;
        height: 90vw;
    }

    .vertical {
        width: 100vw;
        height: 100vw;
    }

    .small {
        width: 100vw;
        height: 50vw;
    }

    .big {
        width: 100vw;
        height: 40vw;
    }
}