.Flex {
  width: 50%; 
  display: flex;
  flex-flow: column wrap;
}

.Element {
  width: 50%;
  padding: 0;
  margin: 10px 0px;
  box-sizing: border-box;
}

.LabelBlack {
  border: solid 1px black;
  border-color: black;
  color: white;
  background-color: black;
  height: 20px;
}

.LabelWhite {
  border: solid 1px black;
  color: black;
  background-color: white;
  height: 20px;
}