table {
    border-collapse: collapse;
    margin: 20px;
}
  
table, td, th {
    border: 1px solid darkgrey;
}

th, td {
    padding: 15px;    
}

div {
    margin: 20px;
}

.button {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 2px;
    width: 120px;
}

.icon {
    height: 100%;
    color: white;
    float: left;
    margin-right: 10px;
}

.text {
    margin: 0;
    float: left;
}

.flex-container {
    display: flex;
    width: 200px;
    height: 200px;
    flex-flow: row wrap;
    
}

.flex-item {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    text-align: center;
    line-height: 50px;
    border: 1px solid darkgrey;
    cursor: pointer;
}

.big {
    width: 100px;
}

.out {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    text-align: right;
    line-height: 50px;
    border: 1px solid darkgrey;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;    
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 0; top: 100%;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

.item {
    position: relative;
    float: left;   
    margin: 0;
}

.line {
    margin: 0;
    border: none;
    height: 2px;
    background: linear-gradient(180deg, rgb(100, 100, 100), rgb(236, 236, 236));
}

.sticky {
    visibility: hidden;
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: beige;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.article-container {
    padding-right: 40px;
}

.article-title {
    margin: 20px 0px;
    font-weight: bold;
}

.article-body {
    margin: 20px 0px;
}